<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头条</string>
		<key>term_id</key>
		<string></string>
		<key>image</key>
		<string>hot</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时政</string>
		<key>term_id</key>
		<string>14</string>
		<key>image</key>
		<string>write</string>
	</dict>
	<dict>
		<key>title</key>
		<string>社会</string>
		<key>term_id</key>
		<string>10</string>
		<key>image</key>
		<string>chat</string>
	</dict>
	<dict>
		<key>title</key>
		<string>奇闻</string>
		<key>term_id</key>
		<string>3</string>
		<key>image</key>
		<string>quwen</string>
	</dict>
	<dict>
		<key>title</key>
		<string>段子</string>
		<key>term_id</key>
		<string>15</string>
		<key>image</key>
		<string>duanzi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>term_id</key>
		<string>4</string>
		<key>image</key>
		<string>yule</string>
	</dict>
	<dict>
		<key>title</key>
		<string>情感</string>
		<key>term_id</key>
		<string>16</string>
		<key>image</key>
		<string>love</string>
	</dict>
	<dict>
		<key>title</key>
		<string>体育</string>
		<key>term_id</key>
		<string>5</string>
		<key>image</key>
		<string>sport</string>
	</dict>
	<dict>
		<key>title</key>
		<string>财经</string>
		<key>term_id</key>
		<string>6</string>
		<key>image</key>
		<string>money</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>term_id</key>
		<string>7</string>
		<key>image</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>title</key>
		<string>军事</string>
		<key>term_id</key>
		<string>8</string>
		<key>image</key>
		<string>army</string>
	</dict>
	<dict>
		<key>title</key>
		<string>房产</string>
		<key>term_id</key>
		<string>9</string>
		<key>image</key>
		<string>house</string>
	</dict>
</array>
</plist>
